# Скомпилированные классы Java
*.class

# Папки сборки (если проект открыт в IDEA)
out/
bin/
target/

# Служебные файлы IntelliJ IDEA и VS Code
.idea/
*.iml
.vscode/

# Сгенерированные файлы лабораторной работы
*.transport